
.videoPlayer {
	margin-top: 100px;
	margin-bottom: 10px;
}

.sideBar {
	margin-top: 100px;
}

.rating{
	text-align: left;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	margin-right: 55px;
	background: white;
}

#sidebar{
	text-align: left;
	padding-left: 35px;
}
