.bloco{
  width: 600px;
  padding: 10px;
  margin: auto;
  background-color: white;
  position: relative;
  text-align: left;
}

.center{
  text-align: center;
}

.white{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  border-radius: 3px;
  border: solid black;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left; 
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.75);
}

.form-control {
  width: 98% !important;
}

.adminBoard {
  margin-top: 100px;
  text-align: center;
}
