.bloco{
  width: 600px;
  padding: 10px;
  margin: auto;
  position: relative;
  text-align: left;
}

.btn-red {
    color:red;
}

.btn-blue {
    color:blue;
}

.btn-green {
    color:green;
}

input{
  border-radius: 2px
}

.center{
  text-align: center;
}



.form-control {
  width: 90% !important;
}
