@font-face {
    font-family: 'moon';
    src: url('../../assets/fonts/moon.ttf');
}

#topAnimesBase{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: rgb(34, 32, 32) !important;
    width: 300px;
}

#topAnimes{
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    color: #006370;
    text-align: center;
    font-size: 13px;
    background-color: white;
    border: 1px solid #01444d !important;
    width: 300px;
}

.navbar{
    font-family: moon;
    height: 54px;
    background-image: linear-gradient(to bottom, #000000, #212020);
    font-size: 18px;
    -webkit-box-shadow: 0px 10px 38px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 38px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 38px -11px rgba(0,0,0,0.75);
}

.nav{
    position: relative;
    left: 60px;
}


.form-control{
    position: relative;
    margin-left: 10px;
    width: 180px;
}

.login{
    position: absolute;
    left: 720px;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    background: white;
    -webkit-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
}

.container{
    position: relative;
    top: 10px;
}

.todo{
    position: relative;
    top: 70px;
}

.propaganda{
    position: relative;
    left: 20%;
    top: 70px;
    width: 60%;
    height: 100px;
    background: black;
}

.header {
    font-family: moon;
}

