@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.btn{
    margin-right: 5px;

}

.markedAsDone{
    text-decoration: line-through;
    color: #777;
}

.tableActions{
    width: 105px;

}

.todoForm{
    padding-bottom: 60px;

}

#topAnimesBase{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: rgb(34, 32, 32) !important;
    width: 300px;
}

#topAnimes{
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    color: #006370;
    text-align: center;
    font-size: 13px;
    background-color: white;
    border: 1px solid #01444d !important;
    width: 300px;
}


a{
    color:inherit;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

.navbar{
    height: 1px;
    background-color: black;
    font-size: 13px;
    font-weight: bold;
}

.buttonMenu{
    position: relative;
    right: -3px;
}

.form-control{
    position: relative;
    margin-left: 10px;
    left: 10px;
    width: 180px;
}

.login{
    position: absolute;
    left: 720px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    background: white;
}

.container{
    position: relative;
    top: 10px;
}

.todo{
    position: relative;
    top: 70px;
}

.propaganda{
    position: relative;
    left: 20%;
    top: 70px;
    width: 60%;
    height: 100px;
    background: black;
}


.nav{
    position: relative;
    left: 60px;
    background-position: center;
}
