.bloco{
  width: 600px;
  padding: 10px;
  margin: auto;
  position: relative;
  text-align: left;
}

.btn-red {
    color:red;
}

.btn-blue {
    color:blue;
}

.number{
    width: 72px;
}

input{
  border-radius: 2px
}

.center{
  text-align: center;
}
