@font-face {
    font-family: 'cafe';
    src: url('assets/fonts/cafe.ttf');
}

.App {
  text-align: center;
}

body {
	background-color: #f0f0f0;
}

input[type="submit"] {
	cursor: pointer;
}

.relative {
	position: relative;
}

.img-responsive {
	max-width: 100%;
	display: block;
}

.img-full {
	width: 100%;
	height: 100%;
	display: block;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.col-left {
	width: 840px;
}

.box-episodio {

	width: calc(100%/3);
	float: left;
	padding: 0 10px;
	margin: 0 0 35px;
}

.nome-thumb {
	background-color: #262626;
	border-radius: 4px;
}

.nome-thumb:hover {
	background-color: #ff5a1e;
}

.nome-thumb .tt {
	font-family: cafe;
	font-size: 2em;
	color: #fff;
	display: block;
	text-align: center;
	padding: 10px 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nome-thumb .tt:hover {
	color: black;
	text-decoration: none;
}

.nome-thumb .thumb {
	background-color: #fff;
	display: block;
	height: 134px;
	overflow: hidden;
	position: relative;
}

.nome-thumb:hover .thumb img {
	opacity: .5;
}

.nome-thumb .num-episodio {
	background-color: #fff;
	display: inline-block;
	padding: 0 5px;
	font-size: 14px;
	color: #006370;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.nome-thumb:hover .num-episodio {
	background-color: #006370;
	color: #fff;
}

.lista-servers {
	background: linear-gradient(to bottom, grey, #f9fef5);
	padding: 1px 7px 43px;
}

.lista-servers .btn-online {
	font-family: moon;
	-webkit-box-shadow: 0px 0px 51px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 51px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 51px -1px rgba(0,0,0,0.75);
	background: no-repeat center, linear-gradient(to bottom, black, #191919), #07a7bb;
	display: block;
	width: 100%;
	height: 48px;
	padding: 14px 10px 0 20px;
	color: #ff5a1e;
	text-transform: uppercase;
	position: absolute;
	border-radius: 3px;
	text-decoration: none;


}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}



















#content-site {
	margin: 100px 0 0;
}
.top-padrao {
	background-color: #c4c3c3;
	padding: 15px 20px;
	border-radius: 3px 3px 0 0;
}

.tt-padrao {
	font: 20px moon;
	color: black;
}

#galeria-animes {
	margin: 30px -12px 0;
	overflow: hidden;
}

.box-detalhes-animes {
  width: 25%;
  float: left;
  padding: 0 10px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.box-detalhes-animes .content {
	background-color: #fff;
	padding: 25px;
}

.col-thumb {
  width: 500px;
  float: left;
}

.col-thumb .thumb {
	border: 1px solid #c4c3c3;
	display: block;
}



/* ===== PÃGINA DO ANIME ===== */
#galeria-animes.pgn-anime {
	margin-top: 0;
}

.box-detalhes-animes.pgn-anime {
	width: 100%;
	float: none;
}

.box-detalhes-animes.pgn-anime .col-detalhes {
	width:800px;
}

.box-detalhes-animes.pgn-anime .descricao {
	height: 86px; 
}


/* ===== PÃGINA SINGLE EPISÃ“DIOS ONLINE ===== */
.lista-episodios-relacionados {
	background-color: #fff;
	padding: 15px;
}

.nav-episodios {
	overflow-y: auto;
	margin: 12px 0 0;
	float: center;
}

.nav-episodios a:hover {
	background-color: #f0f0f0;
	text-decoration: none;
}

.nav-episodios .tt {
	font-family: cafe;
	color: black;
}



