@font-face {
    font-family: 'cafe';
    src: url('assets/fonts/cafe.ttf');
}

.App {
  text-align: center;
}

body {
	background-color: #f0f0f0;
}

input[type="submit"] {
	cursor: pointer;
}

.relative {
	position: relative;
}

.img-responsive {
	max-width: 100%;
	display: block;
}

.img-full {
	width: 100%;
	height: 100%;
	display: block;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.col-left {
	width: 840px;
}

.box-episodio {

	width: calc(100%/3);
	float: left;
	padding: 0 10px;
	margin: 0 0 35px;
}

.nome-thumb {
	background-color: #262626;
	border-radius: 4px;
}

.nome-thumb:hover {
	background-color: #ff5a1e;
}

.nome-thumb .tt {
	font-family: cafe;
	font-size: 2em;
	color: #fff;
	display: block;
	text-align: center;
	padding: 10px 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nome-thumb .tt:hover {
	color: black;
	text-decoration: none;
}

.nome-thumb .thumb {
	background-color: #fff;
	display: block;
	height: 134px;
	overflow: hidden;
	position: relative;
}

.nome-thumb:hover .thumb img {
	opacity: .5;
}

.nome-thumb .num-episodio {
	background-color: #fff;
	display: inline-block;
	padding: 0 5px;
	font-size: 14px;
	color: #006370;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.nome-thumb:hover .num-episodio {
	background-color: #006370;
	color: #fff;
}

.lista-servers {
	background: linear-gradient(to bottom, grey, #f9fef5);
	padding: 1px 7px 43px;
}

.lista-servers .btn-online {
	font-family: moon;
	-webkit-box-shadow: 0px 0px 51px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 51px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 51px -1px rgba(0,0,0,0.75);
	background: no-repeat center, linear-gradient(to bottom, black, #191919), #07a7bb;
	display: block;
	width: 100%;
	height: 48px;
	padding: 14px 10px 0 20px;
	color: #ff5a1e;
	text-transform: uppercase;
	position: absolute;
	border-radius: 3px;
	text-decoration: none;


}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}



















#content-site {
	margin: 100px 0 0;
}
.top-padrao {
	background-color: #c4c3c3;
	padding: 15px 20px;
	border-radius: 7px 7px 0 0;
}

.tt-padrao {
	font: 20px 'gothBold';
	color: #fff;
	display: block;
}

#galeria-animes {
	margin: 30px -12px 0;
	overflow: hidden;
}

.box-detalhes-animes {
  width: 25%;
  float: left;
  padding: 0 10px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.box-detalhes-animes .content {
	background-color: #fff;
	padding: 25px;
}

.col-thumb {
  width: 230px;
  float: left;
}

.col-thumb .thumb {
	border: 1px solid #c4c3c3;
	display: block;
}

.col-thumb .compartilhar,
.col-detalhes .compartilhar {
	border: 1px solid #b4b4b4;
	padding: 8px 10px;
	margin: 13px 0 0;
	border-radius: 7px;
}


.box-detalhes-animes .box-avaliacoes {
  width: 200px;
  float: left;
  padding: 0 0 5px;
}

.box-detalhes-animes .box-avaliacoes strong{
  font: 18px 'latoHeavy';
  color: #DA2657;
  margin-left: 5px;
}

.box-detalhes-animes .box-avaliacoes .thumb{
  display: block;
}

/* ===== PÃGINA DO ANIME ===== */
#galeria-animes.pgn-anime {
	margin-top: 0;
}

.box-detalhes-animes.pgn-anime {
	width: 100%;
	float: none;
}

.box-detalhes-animes.pgn-anime .col-detalhes {
	width: 540px;
}

.box-detalhes-animes.pgn-anime .descricao {
	height: 86px; 
}

.box-detalhes-animes.pgn-anime .ver-mais {
	font-weight: bold;
	font-size: 12px;
	color: #606060;
	cursor: pointer;
}

.box-detalhes-animes .info2 {
	border-top: 1px solid #d8d8d8;
	margin: 10px 0;
	padding: 10px 0 5px;
}

.box-detalhes-animes .info2 p b {
	font-weight: bold;
}

.box-detalhes-animes.pgn-anime .row-avaliacao {
	margin: 0 0 15px;
}









.col-logo-server {
	background-color: #fff;
	width: 130px;
	height: 100%;
	padding: 20px 10px;
	float: left;
	border-radius: 7px;
}

.col-lista-episodios {
	width: 630px;
	float: right;
}

.col-lista-episodios nav {
	overflow-y: auto;
	overflow-x: hidden !important;
	height: 170px;
}

.col-lista-episodios ul {
	margin: 0 !important;
}

.col-lista-episodios li {
	width: calc(100%/6);
	float: left;
	padding: 0 4px;
	margin: 0 0 6px;
}

.col-lista-episodios li a {
	display: block;
	background: #488311 linear-gradient(to bottom, #69bf19, #488311);
	height: 37px;
	font: 16px 'gothBold';
	color: #fff;
	text-align: center;
	padding: 8px 0 0;
	border-radius: 7px;
}

.btn-listar-todos {
	
	background: #07a7bb linear-gradient(to bottom, #22c9de, #07a7bb);
	padding: 8px 15px;
	margin: 10px 0 0;
	font: 16px 'gothBold';
	color: #fff;
	float: right;
	border-radius: 7px;
}

.btn-listar-todos:hover {
	background: #22c9de linear-gradient(to bottom, #07a7bb, #22c9de);
	text-decoration: none;
}

.col-episodios {
  width: 100%;
  background-color:#151719;
  border-radius: 7px;
  margin:40px 0;
}

/* ===== PÃGINA SINGLE EPISÃ“DIOS ONLINE ===== */
.lista-qualidade.pgn-interna-episodio .titulo {
	float: left !important;
}

.acessar-pgn {
	background-color: #f18d18;
	display: block;
	padding: 10px;
	font: 13px 'gothRoman';
	color: #fff;
	overflow: hidden;
	border-radius: 7px;
}

.acessar-pgn .thumb {
	display: block;
	float: left;
	width: 38px;
	height: 57px;
	margin: 0 14px 0 0;
}

.acessar-pgn .texto {
	display: block;
	margin: 5px 0 0;
}

.acessar-pgn b {
	font: 30px/33px 'gothBold';
	color: #fffc00;
	display: block;
}

.acessar-pgn:hover {
	background-color: #dc7700;
	text-decoration: none;
}

.lista-episodios-relacionados {
	background-color: #fff;
	padding: 15px;
	margin: 30px 0 0;
	border-radius: 7px;
}

.btn-nav-episodios {
	display: inline-block;
	border: 1px solid #dadada;
	padding: 10px 12px;
	font: 14px 'gothBold';
	color: #abaaaa;
	border-radius: 7px;
}

.btn-nav-episodios:hover {
	background-color: #abaaaa;
	color: #fff;
	text-decoration: none;
}

.nav-episodios {
	height: 50%;
	overflow-y: auto;
	margin: 12px 0 0;
}

.nav-episodios * {
	display: block;
}

.nav-episodios a {
	border-top: 1px solid #e3e3e3;
	padding: 8px;
	overflow: hidden;
	text-align: left;
}

.nav-episodios li:last-child a {
	border-bottom: 1px solid #e3e3e3;
}

.nav-episodios a:hover {
	background-color: #f0f0f0;
	text-decoration: none;
}

.nav-episodios .thumb {
	width: 125px;
	height: 70px;
	float: left;
	border: 1px solid #e3e3e3;
	margin: 0 10px 0 0;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
}

.nav-episodios .tempo {
	background-color: #000;
	display: inline-block;
	padding: 3px 5px;
	font-size: 9px;
	color: #fff;
	position: absolute;
	right: 3px;
	bottom: 3px;
	border-radius: 5px;
}

.nav-episodios .tt {
	font: 15px 'latoHeavy';
	color: #09a9bd;
	margin: 3px 0 0;
}

.nav-episodios .visu,
.nav-episodios .autor {
	font-size: 12px;
	color: #2d2d2d;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


