{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1em; 
    outline: none;
}

code, kbd, samp, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
    font: inherit;
    font-size: 1em; 
    white-space: normal;
}

dfn, i, cite, var, address, em { 
    font-style: normal;
}

th, b, h1, h2, h3, h4, h5, h6 { 
    font-weight: normal; 
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
    border: none;
}

table { 
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td, center { 
    text-align: left; 
    vertical-align: top;
}

q {
    quotes: "" "";
}

ul, ol, dir, menu, li { 
    list-style: none;
}

sub, sup { 
    vertical-align: baseline;
}

a {
    color: inherit;
}

hr { 
    display: none;
} /* we don't need a visual hr in layout */


marquee { 
    overflow: inherit !important;
}

blink { 
    text-decoration: none;
}

nobr { 
    white-space: normal;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

::-webkit-input-placeholder {
    opacity: 1 !important;
}

:-moz-placeholder { /* Firefox 18- */
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    opacity: 1 !important;
}

:-ms-input-placeholder {
    opacity: 1 !important;
}
