.bloco{
  background-color: #00FFFF;
  width: 600px;
  padding: 10px;
  margin: auto;
  position: relative;
  text-align: left;
}

.btn-red {
    color:red;
}

.btn-blue {
    color:blue;
}

input[type=number]{
    width: 60px;
}

input{
  border-radius: 2px
}
