.episodio{

}

.rating{
	text-align: center;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	margin-right: 55px;
	background: white;
}

.center{
	text-align: center
}

.headerAnime {
	font-family: moon;
	border: white solid;
	background-color: orange;
	color: black;
	border-radius: 4px;
}